* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 241, 228);
}

#banner {
  width: 100%;
}

.box1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

#note {
  width: 500px;
  
}

#texto {
  width: 500px;
  
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frase {
  width: 400px;
}

#botao:hover {
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  body {
    background-color: rgb(255, 241, 228);
  }

  #banner {
    width: 100%;
  }

  .box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #note {
    width: 100%;
    
  }

  #texto {
  width: 100%;
  
  }

  .box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  }

  #frase {
  width: 100%;
  
  }

  #botao {
  width: 100%;
 
  }

  #botao:hover {
  cursor: pointer;

  }

}